/* -------------------------------------------------------------------------- */
/*                                    Icon.jsx                                */
/* -------------------------------------------------------------------------- */


.icon-set {
    border-radius: 200px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(257, 27%, 16%);
    position: absolute;
    top: -40px;
    left: 20px;
}

/* --------------------------------------END--------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 SocialIcon.jsx                             */
/* -------------------------------------------------------------------------- */

.icon-social {
    fill: #FFFFFF;
}

.icon-social:hover {

    cursor: pointer;
    fill: hsl(180, 66%, 49%);

}

/* --------------------------------------END--------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                   Button.jsx                               */
/* -------------------------------------------------------------------------- */

.btn-foo:hover {

    background-color: hsla(180, 66%, 70%) !important;
}

/* --------------------------------------END--------------------------------- */



/* -------------------------------------------------------------------------- */
/*                                 BgLink.jsx                                 */
/* -------------------------------------------------------------------------- */

.bg-link-mobile {
    border-start-end-radius: 15px;
}

/* --------------------------------------END--------------------------------- */
@media only screen and (max-width: 992px) {

    .icon-set {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }




}