body {

    background: linear-gradient(to top, hsla(0, 0%, 75%, .4) 70.5%, white 20%);
}

ul {
    list-style: none;
    padding: 0;
}

.clr-blk {
    color: rgb(20, 19, 19);
}

.clr-blu {
    color: hsl(180, 66%, 49%);
}

/* -------------------------------------------------------------------------- */
/*                                    FONT                                    */
/* -------------------------------------------------------------------------- */

.font-title-big {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.font-lg{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.font-md {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.font-sm {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 35px;

}


.font-xs {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;

}

/*folosit in link area  */
.font {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;

}

.font-p-gray {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: hsl(0, 0%, 75%);
    
}

.font-p-gray-banner{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: hsl(0, 0%, 75%);
}

.font-p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    
}

.font-p-white {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

/* -----------------------------------END------------------------------------ */

@media only screen and (max-width: 992px) {

    body {

        background: linear-gradient(to top, hsla(0, 0%, 75%, .4) 76.5%, white 20%);
    }


    .font-sm {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 27px;

    }

    .font-md {
        font-size: 33x;
    }



}

@media only screen and (max-width: 330px) {

    .font{
        font-size: 12px;
    }

}